spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/moviedb
    username: kishan
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
